@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.start_body {
  background-color: #392657;
}

a {
  text-decoration: none;
  color: #392657;
}

.start {
  display: grid;
  place-content: center;
  row-gap: 2rem;
}

.start__button {
  font-size: 2.5rem;
  display: grid;
  text-transform: uppercase;
  place-content: center;
  margin: 0 auto;
  width: 165px;
  height: 165px;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.start__button:hover {
  opacity: 0.8;
}

.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

/* Home Styles */

.home-main,
.about-main {
  display: grid;
  place-content: center;
}

.home_body,
.about_body,
.projects_body {
  background: linear-gradient(180deg, #392657 0%, rgba(57, 38, 87, 0.8) 100%);
  background-repeat: no-repeat;
  padding-bottom: 0.5rem;
}

.home-main > img {
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.nav > ul {
  list-style: none;
  display: flex;
  gap: 10rem;
}

.nav-link {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #a178b9;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  margin-bottom: -0.5rem;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.home-name {
  background: linear-gradient(186.21deg, #a178b9 -23.45%, #cc8bf2 169.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 0.3em;
  font-size: 5.6rem;
}

.home-para {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  line-height: 39px;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* About Styles */

.about-main {
  display: grid;
  place-content: start;
  margin-left: 3rem;
}

.about-head {
  font-weight: 700;
  font-size: 6.8rem;
  background: radial-gradient(
    1044.27% 1044.27% at 50% 50%,
    #cc8bf2 0%,
    rgba(204, 139, 242, 0) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-section {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
}

.underline::after {
  border-bottom: 2px solid white;
  width: 4rem;
}

.about-para {
  color: white;
  font-size: 1.7rem;
  line-height: 39px;
  letter-spacing: 0.1em;
}

.cloud-img {
  width: 650px;
}

/* Project Styles */

.main-project {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 3rem;
  row-gap: 3rem;

  padding-bottom: 13rem;
}

.project-img img {
  width: 350px;
  height: 300px;
  border-radius: 1rem;
  cursor: pointer;
  transition: border-radius 1s;
}

.project-img img:hover{
  border-radius: 0rem;
}


.project-items {
  display: grid;
  place-content: center;
}

.project-title {
  text-align: center;
  color: white;
  margin-top: 0.5rem;
}

.project-link {
  color: white;
}

@media (max-width: 768px) {
  .start {
    row-gap: 8rem;
  }
  .start img {
    margin-top: 5rem;
    width: 300px;
  }

  .start__button {
    font-size: 1.5rem;
    width: 100px;
    height: 100px;
  }

  .nav > ul {
    gap: 2rem;
  }

  .nav-link {
    font-size: 1rem;
  }

  .home-main {
    padding-bottom: 10rem;
  }

  .home-main > img {
    width: 300px;
  }

  .home-name {
    font-size: 2rem;
    text-align: center;
  }

  .home-para {
    font-size: 1rem;
  }

  .about-head {
    font-size: 2rem;
  }

  .about-para {
    font-size: 1rem;
  }

  .cloud-img {
    width: 350px;
  }

  .about-section {
    grid-template-columns: repeat(1, 1fr);
  }

  .main-project {
    grid-template-columns: repeat(1, 1fr);
  }

  .project-items {
    margin-bottom: 5rem;
  }

  .project-img img {
    width: 300px;
  }
}
